/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap'); */
/*-- nav bar-- */
:root {
  --bg_color_1: #070130;
  --bg_color_2: #0d0065;
  --bg_color_3: #222b5c;
  --bg_music_bar: #2b2b2a;
  --font_color_1: white;
  --font_color_2: lightgrey;
  --font_color_3: #1db954;
}

.nav-bar-logo {
  position: relative;
  width: 50px;
  min-height: 45px;
  max-height: 50px;
  border-radius: 20%;
  margin-left: 14px;
}

.nav-bar-profile {
  position: relative;
  width: 50px;
  min-height: 45px;
  max-height: 50px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

.nav-bar-notify {
  position: relative;
  width: 50px;
  min-height: 45px;
  max-height: 50px;
  border-radius: 50%;
}

.nav-bar-profile:hover {
  box-shadow: 0px 0px 4px 4px gray;
}

.profile {
  background-color: black;
  border-radius: 50% !important;
  border-color: black !important;
  width: 5% !important;
  margin-left: 2px;
  margin-right: 5%;
}

.profile:hover {
  background-color: black;
  border-width: 0px;
  border-color: black !important;
}

.notify {
  color: gray !important;
}

.notify:hover {
  color: #c6aae6 !important;
}

.search {
  color: #af74f2;
  border-color: #c6aae6;
}

.search:hover {
  background-color: #c6aae6;
  color: black;
  border-color: white;
}

.search:active {
  background-color: #c6aae6 !important;
  color: black;
  border-color: white !important;
}

.search:visited {
  background-color: #c6aae6 !important;
  color: black;
  border-color: white !important;
}

.search-bar {
  min-width: 30px;
  max-width: 120px;
}

.fav-section {
  max-width: 60px;
  min-width: 30px;
}

nav {
  height: 50px;
  background-color: black !important;
}

@keyframes bgcolor {
  from {
    background-color: #211930;
  }

  to {
    background-color: #3a285c;
  }
}

/* main-part */
body {
  animation: bgcolor 3s ease-in-out infinite alternate;
}

.main-page {
  height: 100%;
}

/* slides */

.left-part {
  display: inline-block;
  height: 100%;

  animation: bgcolor 3s ease-in-out infinite alternate;
  background-color: #211930;
  width: 70%;
  margin-top: 4%;
}

.slides {
  height: 27vh;
  margin: 0%;
  padding: 0%;
  margin-top: 5%;
  justify-content: center;
}

.top-three {
  height: 100%;
  width: 100%;
  margin-top: 1%;
  color: white;
}

.top-three-img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.top-three-img:hover {
  height: 100%;
  width: 110%;
  box-shadow: 0 0 20px #74adc8;
}

/* .latest-release */

.latest-release {
  /* background-color: black; */
  height: 30vh;
  width: 100%;
  color: white;
  font-family: "Lucida Sans Regular";
  padding-left: 5%;
  margin-top: 20px;
}

.latest-songs {
  font-size: 1.2rem !important;
  height: 20%;
  margin-top: 3%;
}

.songs {
  /* margin-top: -5% !important; */
  top: -11%;
  display: flex;
  flex-direction: row;
}

.songs-img {
  height: 80px;
  width: 27%;
}

.songs2 {
  /* margin-top: 5% !important; */
  bottom: 5%;
}

.song-name {
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}

.song-name:hover {
  text-decoration: none;
}

.song-time {
  font-size: 10px;
}

/*Dropdown bar of latest release section*/
#dropdown {
  height: 50px;
  width: 50px;
  position: absolute;
  margin-left: 23vw;
}

#dropdown-menu {
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: sans-serif;
  color: #4b5c5e;
  font-weight: 300;
  position: relative;
  z-index: 1;
  padding: 1rem;
  display: none;
}

#dropdown-list {
  display: none;
  margin-bottom: 1rem;
}

#dropdown-list a {
  text-decoration: none;
  color: black;
}

#dropdown:hover #dropdown-menu {
  height: 150px;
  width: 200px;
  display: block;
}

#dropdown:hover #dropdown-list {
  display: block;
}

/* popular-artists */

.popular-artists {
  height: 250px;
  /* max-height: 30%; */
  /* background-color: white; */
  padding: 2% 5% 7% 5%;
  margin-top: 60px;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .popular-artists {
    height: 600px;
    margin-bottom: 50px;
  }

  .artist-image {
    margin: 10px;
  }

  .artist-image-img {
    width: 100%;
    height: 50px;
    border-radius: 10%;
    margin-top: 50px;
  }
}

.popular-artists h3 {
  font-size: 25px;
  color: white;
}

.artist-container {
  height: 18vh;
  margin: 0%;
  padding: 0%;
  margin-top: 5%;
  justify-content: center;
}

.artist-image {
  height: 100%;
  width: 100%;
  margin-top: 1%;
  color: white;
}

.artist-image-img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
}

.artist-image-img:hover {
  height: 100%;
  width: 110%;
  box-shadow: 0 0 20px #74adc8;
}

.name-font {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  margin-top: 3px;
}

/* moods  */
@media screen and (max-width: 576px) {
  .moods {
    height: 40vh;
    width: 80%;
    margin-top: -50px;
    margin-bottom: 95px;
    background-color: #2c3d5e;
  }

  .diff-moods {
    margin: 5px;
  }

  .diff-moods {
    height: 15vh;

    padding-top: 4px;

    justify-content: center;
  }

  .mood-image1 {
    height: 80%;
    width: 70%;
    margin: 3px;

    color: white;

    background-image: url("https://media.istockphoto.com/id/1225185030/photo/red-polygonal-paper-heart-shape-purple-colored-in-white-headphones-music-concept-dj-headset.jpg?b=1&s=170667a&w=0&k=20&c=yIIJbLN1FCEqtzL3-fwxbK717xA-JxP6OgaC6Otych0=");
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }

  .mood-image2 {
    height: 80%;
    width: 70%;
    margin: 3px;
    color: white;
    padding: auto;
    background-image: url("https://resources.tidal.com/images/61cdbc67/1238/4926/861c/abfcb9b1b9c8/640x640.jpg");
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }

  .mood-image3 {
    height: 80%;
    width: 70%;
    margin: 3px;
    color: white;
    padding: auto;
    background-image: url("https://s2.r29static.com/bin/entry/e6b/0,6,4167,3125/x/1777941/image.png");
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }

  .mood-image4 {
    height: 80%;
    width: 70%;
    margin: 3px;
    color: white;
    padding: auto;
    background-image: url("https://lesfm.net/wp-content/uploads/2021/05/motivational-music.jpg");
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }

  .mood-image5 {
    height: 80%;
    width: 70%;
    margin: 3px;

    padding: auto;
    background-image: url("https://i1.sndcdn.com/artworks-Ln4pvimfKUU205QW-Y2ejcg-t500x500.jpg");
    background-size: cover;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 576px) {
  .moods {
    height: 20vh;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: #2c3d5e;
  }

  .diff-moods {
    height: 20vh;
    margin: 1%;
    padding: 0%;
    margin-top: 0%;
    justify-content: center;
  }

  .mood-image1 {
    height: 80%;
    width: 70%;
    margin: auto;
    color: white;
    padding: auto;
    background-image: url("https://media.istockphoto.com/id/1225185030/photo/red-polygonal-paper-heart-shape-purple-colored-in-white-headphones-music-concept-dj-headset.jpg?b=1&s=170667a&w=0&k=20&c=yIIJbLN1FCEqtzL3-fwxbK717xA-JxP6OgaC6Otych0=");
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }

  .mood-image2 {
    height: 80%;
    width: 70%;
    margin: auto;
    color: white;
    padding: auto;
    background-image: url("https://resources.tidal.com/images/61cdbc67/1238/4926/861c/abfcb9b1b9c8/640x640.jpg");
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }

  .mood-image3 {
    height: 80%;
    width: 70%;
    margin: auto;
    color: white;
    padding: auto;
    background-image: url("https://s2.r29static.com/bin/entry/e6b/0,6,4167,3125/x/1777941/image.png");
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }

  .mood-image4 {
    height: 80%;
    width: 70%;
    margin: auto;
    color: white;
    padding: auto;
    background-image: url("https://lesfm.net/wp-content/uploads/2021/05/motivational-music.jpg");
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }

  .mood-image5 {
    height: 80%;
    width: 70%;
    margin: auto;

    padding: auto;
    background-image: url("https://i1.sndcdn.com/artworks-Ln4pvimfKUU205QW-Y2ejcg-t500x500.jpg");
    background-size: cover;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

/* .diff-moods{
  height: 15vh;
  margin: 0%;
  padding: 0%;
  margin-top: 0%;
  justify-content: center;
  
} */
/* .mood-image1{
  height: 80%;
  width: 70%;
  margin:auto;
  color: white;
  padding: auto;
  background-image: url("https://media.istockphoto.com/id/1225185030/photo/red-polygonal-paper-heart-shape-purple-colored-in-white-headphones-music-concept-dj-headset.jpg?b=1&s=170667a&w=0&k=20&c=yIIJbLN1FCEqtzL3-fwxbK717xA-JxP6OgaC6Otych0=");
 background-size: cover;
 transition:all 0.3s ease-in-out;
 
} */

.mood-name {
  font-size: 0.7rem;
  color: white;
  text-align: center;
  margin-top: 50px;
  height: 20px;
  opacity: 1;
}

/* .m-image-img{
  width: 100%;
  height: 90%;
  transition:all 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 10%;
} */
.mood-name:hover {
  height: 0.9rem;
  color: red;
  /* box-shadow: 0 0 20px #74ADC8; */
  transition: all 1s ease-in-out;
}

.mood-image1:hover {
  height: 90%;
  width: 80%;
}

.mood-image2:hover {
  height: 90%;
  width: 80%;
}

.mood-image3:hover {
  height: 90%;
  width: 80%;
}

.mood-image4:hover {
  height: 90%;
  width: 80%;
}

.mood-image5:hover {
  height: 90%;
  width: 80%;
}

/* .latest-telugu */
@media screen and (max-width: 576px) {
  .latest-telugu {
    height: 80vh;
    /* background-color: white; */
    padding: 2% 5% 7% 5%;
    margin-top: 20px;
  }

  .latest-english {
    height: 80vh;
    /* background-color: white; */
    padding: 2% 5% 7% 5%;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .song-image {
    height: 100%;
    width: 100%;
    margin-top: 1%;
    color: white;
    margin: 8%;
  }
}

@media screen and (min-width: 576px) {
  .latest-telugu {
    height: 40vh;
    /* background-color: white; */
    padding: 2% 5% 7% 5%;
    margin-top: 20px;
  }

  .latest-english {
    height: 40vh;
    /* background-color: white; */
    padding: 2% 5% 7% 5%;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .song-image {
    height: 100%;
    width: 100%;
    margin-top: 1%;
    color: white;
    margin: 1%;
  }
}

.latest-telugu h3 {
  font-size: 25px;
  color: white;
}

.latest-english h3 {
  font-size: 25px;
  color: white;
}

.telugu-container {
  height: 18vh;
  margin: 0%;
  padding: 0%;
  margin-top: 5%;
  justify-content: center;
}

.song-image-img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  /* border-radius: 50%; */
}

.song-image-img:hover {
  height: 100%;
  width: 110%;
}

.name-font-songs {
  font-family: roboto;
  text-align: start;
  color: white;
  font-size: 1rem;
  margin-top: 3px;
}

/* right-part */
aside {
  height: 100%;
  width: 28%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 10%;
  margin-left: 3px;
  vertical-align: top;
  animation: bgcolor 3s ease-in-out infinite alternate;
}

.queue-name {
  display: inline-block;
  width: 50%;
  margin-left: 3%;
  margin-top: -5px;
  /* font-family: roboto !important; */
  color: white;
}

.queue-list {
  display: inline;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10%;
}

.queue-list:hover {
  color: aquamarine;
}

select {
  background-color: #21193000;
  border-color: #21193000;
  color: rgb(38, 213, 15);
  /* font-family: roboto; */
}

.queue-songs {
  /* margin-top: -5% !important; */
  top: -11%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.queue-songs-img {
  height: 60px;
  width: 20%;
}

.song-no {
  color: rgb(153, 156, 159);
  margin-top: 12px;
  margin-right: 3px;
  font-family: monospace;
}

.heart {
  color: white;
  position: relative;
  left: 35%;
  margin-top: 20px;
}

/*Music Bar*/
#music-bar {
  height: 100px;
  width: 1500px;
  position: fixed;
  bottom: 0;
  background-color: var(--bg_music_bar);
  opacity: 1;
  color: var(--font_color_1);
  z-index: 15;
}

#music-icon {
  height: 70px;
  width: 70px;
  margin-left: 2vw;
  margin-top: 6px;
  border: 2px solid var(--font_color_1);
  opacity: 1;
}
#music-icon img {
  height: 70px;
  width: 70px;
  margin-left: 0;
  margin-top: 0;
  position: fixed;
}
#music-bar:target {
  display: block; /*When play button is clicked music bar is displayed*/
}
#music-icon a {
  position: fixed;
  top: 12vh;
  left: 98%;
  color: var(--font_color_1);
}
#music-title {
  color: var(--font_color_1);
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: -3.5%;
  margin-left: 7.5%;
}
#music-player-title-artist {
  color: lightgrey;
  font-size: 0.8rem;
}
#play-buttons {
  margin-top: -2%;
  margin-left: 34%;
  font-size: 1.3rem;
}
#play-buttons i {
  padding-right: 4%;
}
#progress-bar {
  height: 3px;
  width: 380px;
  background-color: var(--font_color_3);
  margin-left: 460px;
  margin-top: -1vh;
  border-radius: 2px;
}
#circle {
  position: relative;
  top: -6px;
  left: -1px;
}
#favourite {
  margin-left: 5px;
  display: inline;
}
#remove {
  margin-left: 5px;
  display: inline;
}
#queue {
  display: inline;
  margin-left: 67%;
  position: relative;
  bottom: 21%;
}
#volume {
  display: inline;
  margin-left: 70%;
  position: relative;
  bottom: 38%;
}
#progress-bar-volume {
  height: 3px;
  width: 10vw;
  background-color: var(--font_color_3);
  position: fixed;
  left: 1100px;
  top: 93.5vh;
  border-radius: 2px;
  display: inline;
}

#circle-volume {
  position: relative;
  top: -6px;
  left: 0%;
}
#start-time {
  display: inline;
  position: absolute;
  color: var(--font_color_2);
  font-family: sans-serif;
  position: relative;
  left: 28%;
  top: 2.5%;
  font-size: 0.8rem;
}
#end-time {
  display: inline;
  position: absolute;
  color: var(--font_color_2);
  font-family: sans-serif;
  font-size: 0.8rem;
  position: relative;
  left: 55%;
  top: 2.5%;
}
/*End of music bar*/
